<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="marvin_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Joint1_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint1_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint2_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint2_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint3_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint3_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint4_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint4_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint5_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint5_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint6_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint6_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint7_L">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint7_L']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_gripper_left_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_gripper_left_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_gripper_right_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_gripper_right_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint1_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint1_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint2_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint2_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint3_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint3_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint4_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint4_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint5_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint5_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint6_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint6_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint7_R">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint7_R']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_gripper_left_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_gripper_left_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_gripper_right_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_gripper_right_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
